# ignore the nextflow temporary files like work/ and .nextlow/ 

.nextflow*
work/

# ignore the result and test directory
results/
scratch/

# temporary ignore fasta and bam files 
**.bam
**.bai
**.fa
**.fai
**.log
bin/breakdancer.sif
log.txt
trace*
timeline*
execute.sh
run.sh
run.log
data/hg19.bed
bin/create_matrix.py
.gitignore
run_svmeca_test.sh
run_svmeca_varbank.sh
