
params {
    results = '/home/rnkouame/sv_calling/SV-MeCa/results'
    //input = '/home/rnkouame/sv_calling/SV-MeCa/data/input.bam'
    input = '/home/rnkouame/sv_calling/SV-MeCa/data/input.chr21_22.bam'
    reference = '/home/rnkouame/sv_calling/SV-MeCa/data/hs37d5.fa'
    //reference = '/home/rnkouame/sv_calling/SV-MeCa/data/hs37d5.chr21_22.fa'
    exclude_bed = '/home/rnkouame/sv_calling/SV-MeCa/data/b37.lumpy.exclude.bed'
    sonic_file = '/home/rnkouame/sv_calling/SV-MeCa/data/human_g1k_v37.sonic'
}



process{
    withName: GENOME_INDEX {
        conda = '/home/rnkouame/miniconda3/envs/samtools'
    }
    withName: BAM_INDEX {
        conda = '/home/rnkouame/miniconda3/envs/samtools'
    }
    withName: BREAKDANCER {
        conda = '/home/rnkouame/miniconda3/envs/breakdancer'
    }
    withName: MANTA {
        conda = '/home/rnkouame/miniconda3/envs/manta'
    }
    withName: LUMPY {
        conda = '/home/rnkouame/miniconda3/envs/smoove'
    }
    withName: DELLY {
        conda = '/home/rnkouame/miniconda3/envs/delly'
    }
    withName: PINDEL_SINGLE {
        conda = '/home/rnkouame/miniconda3/envs/pindel'
    }
    withName: SAMBAMBA {
        conda = '/home/rnkouame/miniconda3/envs/sambamba'
    }
    withName: TARDIS {
        container = '/home/rnkouame/sv_calling/SV-MeCa/bin/tardis_latest.sif'
    }
}

singularity {
    enabled = true 
    autMounts = true
}
trace {
    enabled = true
}