myConda = '/home/rudel/miniconda3/envs'
params {

    // General standard
    
    results = "$baseDir/results/chm1_chm13"
    

    // General Custom
    bed = "$baseDir/data/hg19_gap.bed"
    input = "/home/rudel/github/data/CHM1_CHM13_Hiseq/CHM1_CHM13_2.bam"
    reference = "$baseDir/data/hs37d5.fa"
    skip_manta = false
    // Breakdancer

    // Delly

    // Lumpy

    // Manta

    // Pindel
    pd_multi = true

    // Tardis
    sonic_file = "$baseDir/data/human_g1k_v37.sonic"
}



process{
	//queue = 'devel-rh7,smp-rh7,fbz,fbz-exclusive'
    //cache = 'lenient'
    //clusterOptions = '--exclusive'
    //queueSize = 6
    
    
    withName: REFERENCE_INDEX {
        conda = "${myConda}/sv_meca"
        cpus = 1
        memory = {4.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '1h'
    }
    withName: INCLUDE_REGIONS {
        conda = "${myConda}/sv_meca"
        cpus = 1
        memory = {4.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '1h'
    }
    withName: BAM_INDEX {
        conda = "${myConda}/sv_meca"
        cpus = 8
        memory = {8.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '1h'
    }
    withName: BREAKDANCER {
        conda = "${myConda}/sv_meca"
        cpus = 1
        memory = {4.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: MANTA {
        conda = "${myConda}/manta"
        cpus = {6 * task.attempt}
        memory = {8.GB * task.attempt}
        errorStrategy = 'ignore'
        maxRetries = 1
        time = '24h'
    }
    withName: LUMPY {
        conda = "${myConda}/sv_meca"
        cpus = 4
        memory = {8.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: DELLY {
        conda = "${myConda}/sv_meca"
        cpus = 1
        memory = {6.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: PINDEL_SINGLE {
        conda = "${myConda}/sv_meca"
        cpus = {4 * task.attempt}
        memory = {8.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: MERGE_PINDEL_SINGLE {
        conda = "${myConda}/sv_meca"
        cpus = 2
        memory = {4.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '1h'
    }
    withName: TARDIS_PREP {
        conda = "${myConda}/sv_meca"
        cpus = 8
        memory = {8.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: TARDIS {
        container = "$baseDir/bin/tardis_latest.sif"
        containerOptions = "--bind $baseDir/../.."
        cpus = 1
        memory = {8.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
    withName: SURVIVOR_MERGE {
        conda = "${myConda}/sv_meca"
        cpus = 2
        memory = {4.GB * task.attempt}
        errorStrategy = 'retry'
        maxRetries = 1
        time = '24h'
    }
}

singularity {
    enabled = true 
    autMounts = true
    engineOptions = "-d"
}
trace {
    enabled = true
    file = 'trace.tsv'
    fields = 'task_id, hash, native_id, name, status, attempt, exit, realtime, cpus, %cpu, memory, %mem, rss, vmem, peak_rss, peak_vmem'
    overwrite = true
}
timeline{
    enabled = true
    file = 'timeline.html'
    overwrite = true
}

conda.enabled = true
